<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Gerentes</title>
    {{>head}}
</head>
<body>

<h1>Cadastro de gerentes</h1>

<hr>

<div id="fomGer">
    {{>cadastros/gerentes/formsGerentes gerentes}}
</div>

</body>
</html>