<h2>Listagem de Clientes</h2>



<table class="table table-hover" style="width: 160vh;">
    <thead>
    <tr scope="col">
        <th width="35">ID</th>
        <th width="255">Nome</th>
        <th width="105">CPF</th>
        <th width="255">E-mail</th>
        <th width="90">Nascimento</th>
        <th width="255">Cidade</th>
        <th width="20">UF</th>
        <th width="255">Bairro</th>
        <th width="255">Rua</th>
        <th width="85">CEP</th>
        <th width="35">Número</th>
        <th width="35">Ação</th>
        <th width="35">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#clients}}
        {{>client/rowClient}}
    {{/clients}}
    </tbody>
</table>