<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Cadastro</title>
    {{>head}}
</head>
<body style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
">

<h1>Cadastro de cliente</h1>
<hr>

<div id="formAndTable">
    {{>client/form client}}

    <hr>

    <div id="clientItemsTable">
        <input type="hidden" name="page" value="{{index}}">
    </div>

    <table>
        <thead>
        <tr>
            <th >Nome</th>
            <th >CPF</th>
            <th >Data de nascimento</th>
            <th >Telefone</th>
            <th >E-mail</th>
            <th >CEP</th>
            <th >Estado</th>
            <th >Cidade</th>
            <th >Bairro</th>
            <th >Rua</th>
            <th >Número</th>
        </tr>
        </thead>
        <tbody>
<!--        {{#foos}}-->
<!--            {{>foo/row}}-->
<!--        {{/foos}}-->
        </tbody>
    </table>
</div>

</body>
</html>