<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Cadastro</title>
    {{>head}}
</head>
<body style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
">

<h1>Cadastro de cliente</h1>
<hr>

<div id="formAndTable">
    {{>client/form client}}

    <hr>

    <div id="clientItemsTable">
        <input type="hidden" name="page" value="{{index}}">
    </div>

    <table style="width: 1500px">
        <thead>
        <tr>
            <th style="width: 200px">Nome</th>
            <th style="width: 140px">CPF</th>
            <th style="width: 190px">Data de nascimento</th>
            <th style="width: 120px">Telefone</th>
            <th style="width: 300px">E-mail</th>
            <th style="width: 100px">CEP</th>
            <th style="width: 160px">Estado</th>
            <th style="width: 150px">Cidade</th>
            <th style="width: 200px">Bairro</th>
            <th style="width: 200px">Rua</th>
            <th style="width: 80px">Número</th>
            <th style="width: 50px"></th>
        </tr>
        </thead>
        <tbody>
        {{#clients}}
            {{>client/row}}
        {{/clients}}
        </tbody>
    </table>
</div>

</body>
</html>