<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
    <style>
        .erro {
            color: red;
        }
    </style>
</head>
<body>
{{>navbar}}
<form  hx-post="gerentesCadastro/cadastrar" hx-trigger="submit, reset:afterSettle" hx-swap="innerHTML">
    {{>gerentes/gerentesCadastroForm}}
</form>
</body>
</html>