<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
<a href="gerentes/cadastro"><button>Cadastrar</button></a>
<a href="gerentes/nada"><button></button></a>
</body>
</html>