<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
    <style>
        .erro {
            color: red;
        }
    </style>
</head>
<body>
<a href="/hackathon"><div><img src="https://img.icons8.com/?size=18&amp;id=100033&amp;format=png&amp;color=000000" alt="Voltar" style="cursor: pointer; width: 18px; height: 18px; padding-right: 4px"></div></a>
<form  hx-post="gerentesCadastro/cadastrar" hx-trigger="submit, reset:afterSettle" hx-swap="innerHTML">
    {{>gerentes/gerentesCadastroForm}}
</form>
</body>
</html>