<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Foo View</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body>

<h1>This is the foo view</h1>
<hr>

<div id="formAndTable">
    {{>fooViewEdit}}

    <hr>

    <table id="fooItemsTable">
        <thead>
        <tr>
            <th>Foo</th>
            <th>Bar</th>
            <th>Bas</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        {{#foos}}
            {{>fooViewTableItem}}
        {{/foos}}
        </tbody>
    </table>
</div>

</body>
</html>