<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Foo View</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body>

<h1>This is the foo view</h1>
<hr>

<form id="foo-form">
    Bas: <input type="text" name="bas"> <br>
    Boo: <input type="text" name="boo"> <br>
    <br>
    <button hx-target="#foo-form"
            hx-replace="innerHTML"
            hx-post="foo/upsert">
        Cadastrar
    </button>
</form>

<hr>

<table>
    <thead>
    <tr>
        <th>Foo</th>
        <th>Bar</th>
        <th>Bas</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{#foos}}
        <tr>
            <td>{{bar}}</td>
            <td>{{bas}}</td>
            <td>{{boo}}</td>
            <td>
                <a href="#"
                   hx-target="#foo-form"
                   hx-replace="innerHTML"
                   hx-get="foo/edit?bar={{bar}}">
                    Editar
                </a>
            </td>
        </tr>
    {{/foos}}
    </tbody>
</table>

</body>
</html>