<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
<h1>Hello World!</h1>
<br/>
<a href="gerente">Exemplo Gerente</a>
<a href="foo">Exemplo Foo</a>
</body>
<script>
    $(document).ready(function(){
        $('#cpf').mask('000.000.000-00', {reverse: true});
    });
</script>
</html>