<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
    <body>
        <h1>Hello World!</h1>
        <br/>
            <a href="gerente">Exemplo Gerente</a>
            <a href="cliente">Exemplo Cliente</a>
            <a href="veiculo">Exemplo Veículos</a>
            <a href="locacao">Exemplo Locação</a>
            <a href="foo">Exemplo Foo</a>
    </body>
</html>