<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
<h1>Hello World!</h1>
<br/>
<a href="cliente">Cliente</a>
<br>
<a href="gerente">Gerente</a>
<br>
<a href="veiculo">Veículos</a>
<br>
<a href="locacao">Locação</a>
</body>
</html>