<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
<h1>Menu!</h1>
<br/>
<a href="cliente">Cliente</a>
<a href="gerente">Gerente</a>
<a href="veiculo">Veículo</a>
<a href="locacao">Locação</a>

</body>
</html>