<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
    <a href="gerentesCadastro"><button>Cadastro de Gerentes</button></a>
    <a href="clientes"><button>Clientes</button></a>
    <a href="gerentesLista"><button>Lista de Gerentes</button></a>
    <a href="foo"><button>Foo</button></a>
</body>
</html>