<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
    <a href="gerentes"><button>Gerentes</button></a>
    <a href="clientes"><button>Clientes</button></a>
</body>
</html>