<!DOCTYPE html>
<html lang="pt">
<head>
    <title>HBS - Index</title>
    {{>head}}
</head>
<body>
<h1>Hello World!</h1>
<br/>
<a href="cliente">Teste Cliente</a>
<br>
<a href="gerente">Teste Gerente</a>
<br>
<a href="veiculo">Veiculos</a>
</body>
</html>