<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">Hackathon</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <div hx-get="/hackathon/clientes" hx-target="#content" class="nav-link link-dark" style="cursor: pointer">
                            Clientes
                        </div>
                    </li>
                    <li>
                        <div hx-get="/hackathon/gerentes" hx-target="#content" class="nav-link link-dark" style="cursor: pointer">
                            Gerentes
                        </div>
                    </li>
                    <li>
                        <div hx-get="/hackathon/locacoes" hx-target="#content" class="nav-link link-dark" style="cursor: pointer">
                            Locacoes
                        </div>
                    </li>
                    <li>
                        <div hx-get="/hackathon/veiculos" hx-target="#content" class="nav-link link-dark" style="cursor: pointer">
                            Veiculos
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm min-vh-100">