<a href="gerentesLista"><button>Lista de Gerentes</button></a>
<a href="gerentesCadastro"><button>Cadastro de Gerentes</button></a>
<a href="clientesLista"><button>Lista de Clientes</button></a>
<a href="clientesCadastro"><button>Cadastro de Clientes</button></a>
<a href="foo"><button>Foo</button></a>
<br><br>