<a href="gerentesLista"><button>Lista de Gerentes</button></a>
<a href="gerentesCadastro"><button>Cadastro de Gerentes</button></a>
<a href="clientesLista"><button>Lista de Clientes</button></a>
<a href="clientesCadastro"><button>Cadastro de Clientes</button></a>
<a href="veiculosLista"><button>Lista de Veiculos</button></a>
<a href="veiculosCadastro"><button>Cadastro de Veiculos</button></a>
<a href="locacaoLista"><button>Lista de Locação</button></a>
<a href="locacaoCadastro"><button>Cadastro de Locação</button></a>
<a href="foo"><button>Foo</button></a>
<hr>